extend ../layout

block pagehead
	h1= project.name

block content
	.side-bar
		ul.filter-list
			li All Issues
				span.count 10

	P!= project._id
	p!= project.description

	h2 Issues
		a(href='/' + project.name + '/issues/new') Create

	ul
		each issue in issues
			li: a(href='/' + project.name + '/issues/' + issue._id)=  issue.summary