extend ../layout

block pagehead
	h1= name

block content
	P!= _id
	p!= description

	h2 Issues
		a(href='/' + project.name + '/issues/new') Create

	ul
		each issue in issues
			li: a(href='/' + project.name + '/issues/' + issue._id)=  issue.summary