extend layout

include mixins

block pagehead
	h1
		a(href='/issue') Issues/
		span new

block content
	form(action='/' + project.name + '/issues', method='post')
		+fieldlist
			+field('Project Id')
				span= project._id
				input(type='hidden', name='_project', value=project._id)
			+field('Summary')
				input(type='text', name='summary')
			+field('Description')
				textarea(name='description')
			+field('Components')
				select(multiple, name='labels')
					each c in components
						option(value=c)= c

		button(type='submit') Create
