extend layout

include mixins

block pagehead
	h1
		a(href='/issue') Issues/
		span new

block content
	form(action="/issue", method='post')
		+fieldlist
			+field('Summary')
				input(type='text', name='summary')
			+field('Description')
				textarea(name='description')

		button(type='submit') Create
