background-color = rgb(39,40,34)

body
  font: 14px 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif;
  background-color: white
  color: black
  margin: 0
a
  color: #00B7FF

 h1, h2, h3, h4
 	font-family: 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif;
 	font-weight: 500


.header
	background-color: #E44424
	color: white
	overflow: auto

	.search
		float: right
	h1
		float: left
		margin: 0

.pagehead
	border-top: solid 1px gray

body > .content
 	padding: 50px
 	border-top: solid 1px gray

ul.tags
	display: inline-block
	list-style-type: none
	overflow: auto
	margin: 0
	padding: 0
	height: auto

	li
		float: left

.issue
	.description
		margin 1em 0 1em 0

.side-bar
	width 210px

ul.filter-list
	list-style-type none

	li span
		float right
