background-color = rgb(39,40,34)

body
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color: background-color
  color: rgb(200, 200, 200)
  margin: 0
a
  color: #00B7FF

.header
	background-color: lighten(background-color, 10%)
	overflow: auto

	.search
		float: right
	h1
		float: left
		margin: 0

.pagehead
	border-top: solid 1px gray

body > .content
 	padding: 50px
 	border-top: solid 1px gray
